/*************** Menu ****************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #f7f7f291;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #ffa629;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ffa629;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 2000px) {
  .menu {
    display: none;
  }
}
/*************** styling ****************/
a {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #ffa629;
}
body {
  background-color: #222725;
}

/*************** Placing mobil ****************/
.sectiongrid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 10%;
  gap: 1%;
  text-align: center;
}

.col {
  display: grid;
}

h1 {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #e7decd;
  transition: color 0.3s, transform 0.3s, filter 0.3s, background-color 0.3s, text-shadow 0.3s, border 0.3s;
  filter: grayscale(100%);
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
}

h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

h1:hover {
  color: #ffa629;
  transform: scale(1.1) rotate(360deg);
  filter: grayscale(0%);
  text-decoration: none;
}

h1:hover::before {
  border-color: #e7decd;
}

/*************** Flipping board ****************/

#container {
  color: #ffa629;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  position: relative;
  width: 100%;
  bottom: 10%;
  text-align: center;
  margin-top: 5%;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #222725;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #e7decd;
}
#flip div:first-child div {
  background: #e7decd;
}
#flip div:last-child div {
  background: #e7decd;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
